.logo {

}

.logo__symbol {
  float: left;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background-color: #54ca95;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  margin-right: 8px;
  margin-top: 4px;
}

.logo__text {
  float: left;
  line-height: 50px;
  font-size: 20px;
  color: #222;
  font-weight: 600;
}

.logo__text>span {
  line-height: 50px;
  font-size: 20px;
  color: #222;
  font-weight: 400;
}
