.resume {
  background-color: #fcfcfc;
  border-radius: 40px;
}

.resume__content {
  max-width: 1280px;
  margin: 60px auto 0;
  padding-bottom: 60px;
}

.resume__content:last-of-type {
  padding-bottom: 100px;
  margin: 0 auto 0;
}

