.contact {
  background-color: #12a3ef;
}

.contact__content {
  display: flex;
  margin: 60px auto 0;
  padding-bottom: 100px;
}

.contact__information {
  display: flex;
  flex-direction: column;
  padding: 40px 50px 50px 30px;
  position: relative;
  margin: auto;
}

.contact__information ul {
  padding: 0;
  margin: 0 auto;
}

.contact__information ul > li {
  margin-bottom: 20px;
}

.contact__text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.contact__text span {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 8px;
}

.contact__name {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.contact__text_name {
  color: #000;
  margin: 0;
  font-size: 44px;
  font-weight: 700;
}

.contact__text_speciality {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 16px auto;
}

.contact__social-links {
  margin: 30px auto 0;
}

.contact__social-link {
  margin-right: 15px;
  transition: 0.5s ease-in-out;
}

.contact__social-link:hover {
  opacity: .7;
}

.contact__social-icon {
  width: 30px;
  height: 30px;
}

.arrow-right {
  width: 150px;
  height: 150px;
  animation: moveRightAndBack .7s linear infinite;
  position: absolute;
  top: 280px;
  right: -80px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@keyframes moveRightAndBack {
  0%, 100% {
    right: -50px;
  }
  50% {
    right: -30px;
  }
}

@media screen and (max-width: 1024px) {
  .contact__content {
    padding-bottom: 60px;
  }
}
