.about-me__container {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  padding-top: 70px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.about-me__personal-photo {
  width: 400px;
  height: 400px;
  object-fit: contain;
  background-color: #fff;
  border-radius: 1000px;
  border: 18px solid #fff;
  overflow: hidden;
}

.about-me__information {
  margin-left: 90px;
}

.about-me__specialty {
  font-size: 16px;
  color: #aaa;
  font-weight: 300;
  margin-bottom: 10px;
}

.about-me__name {
  font-size: 48px;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #333333;
}

.about-me__description {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75em;
  color: #666;
  margin-bottom: 50px;
}

.about-me__links {

}

.about-me__link {
  cursor: pointer;
}

.about-me__link_cv {
  display: inline-block;
  padding: .8em 2.1em;
  margin-bottom: .75em;
  margin-right: .95em;
  font-size: 1em;
  line-height: 1.2;
  border: 2px solid #54ca95;
  color: #222;
  text-shadow: none;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 10px 10px -8px #9a9696;
}

.about-me__link_cv:hover {
  color: #ffffff;
  background-color: #54ca95;
}

.about-me__link_contact {
  display: inline-block;
  padding: .8em 2.1em;
  margin-bottom: .75em;
  margin-right: .25em;
  font-size: 1em;
  line-height: 1.2;
  border: 2px solid #d5d5d5;
  color: #666;
  text-shadow: none;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 10px 10px -8px #d5d5d5;
}

.about-me__link_contact:hover {
  color: #333;
  background-color: #d5d5d5;
}
